.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.room-form {
  max-width: 400px;
  margin: 0 auto;
}

.room-container {
  text-align: center;
}

.players-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.host-controls {
  margin-bottom: 20px;
}

.vote-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.vote-button {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.vote-button.selected {
  transform: translateY(-30px) scale(1.5);
}

.vote-button img {
  width: 100%;
  height: auto;
}

.player-card {
  width: 100px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
  transition: 1s;
}

.player-card.unrevealed {
  transform: rotateY(180deg);
}

.average-vote {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
